body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.4rem;
}

.cards {

    width: 100%;
    max-width: 92rem;
    border-radius: .8rem;

    @include big_device {
        display: flex;
    }

    // @include small_device {
    //     flex-direction: column-reverse;
    // }

    &__item {

        padding: 4.8rem;

        @include big_device {
            flex: 1;
        }

        &:nth-child(1) {

            background-color: $cadmiumOrange;

            @include big_device {
                border-radius: .8rem 0 0 .8rem;
            }

            @include small_device {
                border-radius: .8rem .8rem 0 0;
            }

            .cards__item__a {
                color: $cadmiumOrange;

                &:hover {
                    color: white;
                }
            }
        }

        &:nth-child(2) {
            background-color: $skobeloff;

            .cards__item__a {
                color: $skobeloff;

                &:hover {
                    color: white;
                }
            }
        }

        &:nth-child(3) {
            background-color: $richBlack;

            @include big_device {
                border-radius: 0 .8rem .8rem 0;
            }

            @include small_device {
                border-radius: 0 0 
                .8rem .8rem;
            }

            .cards__item__a {
                color: $richBlack;

                &:hover {
                    color: white;
                }
            }
        }

        &__icon {
            width: 6.4rem;

            img {
                @include img_responsive;
            }
        }

        &__title {
            @include heading;
            text-transform: uppercase;
            margin-top: 3.5rem;
        }

        &__p {
            @include body;
            margin-top: 2.5rem;
        }

        &__a {
            @include body;
            display: inline-block;
            background-color: #f2f2f2;
            min-width: 14.6rem;
            height: 4.8rem;
            text-align: center;
            line-height: 4.5rem;
            border-radius: 2.5rem;
            opacity: 1;
            transition: all .3s;
            border: .2rem solid white;

            @include big_device {
                margin-top: 8.3rem;
            }

            @include small_device {
                margin-top: 2.5rem;
            }

            &:hover {
                background-color: transparent;
                color: white;
            }

        }

    }

}